.administrationContainer {
    width: 100%;
}

.administrationContainer .logoContainer {
    width: 6rem;
    height: 6rem;
}

.administrationContainer .logoContainer img {
    height: fit-content;
    height: -webkit-fill-available;
    box-shadow: var(--shadowDepth4);
    border-radius: 1rem;
}

.administrationContainer>div {
    display: flex;
}

.infosContainer>div {
    display: flex;
    align-items: center;
}

.tabContainer {
    border-bottom: 1px solid #1b1c1d1f;
    padding-bottom: 0px;
    padding: 0!important;
}

.searchContainer {
    border-bottom: 1px solid #1b1c1d1f;
    padding: 1rem !important;
    padding-right: 4rem!important;
    display: flex!important;
    justify-content: space-between!important;
}

.searchContainer button {
    background-color: var(--colorSecondaryDark);
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 0.8rem 0.8rem 0px 0px;
    background-color: #454545;
    color: white;
    margin-right: 2px;
    margin-left: 2px;
}

.tab button:hover {
    background-color: var(--colorPrimary);
}

.selected {
    background-color: var(--colorPrimary)!important;
}

.anneeAcademiqueList {
    width: 100%;
}