.workspace {
    height: 82vh;
}

.economeSideMenu {
    padding: 0!important;
    border-left: 1px solid #0000001f;
    color: black;
    border-right: 1px solid #0000001f
}

.economeSideMenu div>div {
    display: flex;
    align-items: center!important;
    padding-left: 1rem!important;
    border-bottom: 1px solid #0000001f;
}

.economeSideMenu div>div:hover {
    background-color: var(--colorPrimary);
    transition: all ease-in 0.2s;
    cursor: pointer;
}

.economeSideMenu div>div:hover a {
    color: white;
}

.economeSideMenu a {
    color: black
}

.economeWorkspace {
    background-color: white;
    border-right: 1px solid #0000001f;
    border-bottom: 1px solid #0000001f;
    box-shadow: var(--shadowDepth4);
}

.economeWorkspace>div {
    width: 100%;
    align-items: flex-start!important;
}

.economeWorkspace a{
    color:black;
}

.addEtudiantForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchContainer input {
    height: 2.4rem;
}

.pensionContainer {
    width: 100%;
    align-items: flex-start!important;
}

.pensionContainer a {
    color: black;
}

.pensionHeader {
    display: flex;
    justify-content: space-between;
}