

/*styles for title bar*/

.appTitle{
    display: flex;
    align-items: center;
}

.appTitle > div{
    margin-right: 0.6rem;
    height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburgerMenu svg{
    height:2rem;    
}

.hamburgerMenu:hover{
    cursor: pointer;
}
.hamburgerMenu:hover svg path{
  fill: var(--colorPrimary);
  transition: all ease 0.2s;
}

.appTitle .appName{
    font-size: 1.4rem;
    font-weight: 600;
}

.titleBar,.workSpace .sideMenu{
    background-color: var(--colorSecondary);
    backdrop-filter: blur(4px);
    color:white;
    box-shadow: var(--shadowDepth4);
}
.titleBar{
    height: 8vh;
    background-color: var(--colorSecondaryDarker);
}

.titleBar .column{
    display: flex;
    align-items: center;
}

.sideMenu{
    padding:0!important;
    height: 100vh;
}


/*side menu styles*/
.sideMenu-items-container{
    height: 100%;
}
.sideMenu-items-container div.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideMenu-items-container > .row{
    padding:0.8rem!important;
    display: flex;
    align-items: center;
}

.sideMenu-items-container div.row:hover{
    background-color: var(--colorSecondaryDarker);
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.sideMenu-items-container div.row svg{
    height:2.3rem;
    margin-right: 0.2rem;
}
.sideMenu-items-container div.row .title{
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem
}

.sidemenu-item{
    display: flex;
    align-items: center;
}

/*workSapce design*/

.workSpace{
    height:92vh;
    padding:0!important;
}

.ui.card{
    width:17rem;
    height:10rem;
}
.dashboard-menu{
    padding:0px!important;
    overflow: scroll;
    height: 94vh;
}
.dashboard-menu div .row .column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-menu .dashboard-card{
    width:16rem;
    height: 10rem;
    box-shadow: var(--shadowDepth8);
    margin-top: 1.7rem;
    background-color: white;
    border-radius: 0.2rem;
    background-color:white;
    color: rgba(0, 0, 0, 0.644);
}

.dashboard-menu .dashboard-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in 0.2s;
}

.dashboard-menu .dashboard-card .ui.grid{
    height:100%;
}
.dashboard-menu .dashboard-card .dashboard-card-label {
    font-weight: bold;
}
.dashboard-menu .dashboard-card .dashboard-card-icon svg path {
    fill: var(--colorPrimary);
}

.dashboard-menu .dashboard-card .amount{
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}