.classeHeader {
    display: flex;
    justify-content: space-between;
}

.tabContainer {
    border-bottom: 1px solid #1b1c1d1f;
    padding-bottom: 0px;
    padding: 0!important;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 0.8rem 0.8rem 0px 0px;
    background-color: #454545;
    color: white;
    margin-right: 2px;
    margin-left: 2px;
}

.tab button:hover {
    background-color: var(--colorPrimary);
}

.selected {
    background-color: var(--colorPrimary)!important;
}