.title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.presenceOptions {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
}

.presenceOptions>div {
    width: 15rem;
    height: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadowDepth8);
    transition: all ease-in 0.1s;
}

.presenceOptions>div:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.presenceOptions>div>div:nth-child(1), .presenceOptions>div>div:nth-child(2) {
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presenceOptions>div>div:nth-child(2) {
    flex: 0.5;
}

.presenceOptions>div>div:nth-child(2) {
    background-color: var(--colorPrimary);
}

.presenceCard >div {
    display: flex;
    flex-direction: column;
}

.presenceCard > div > div{
    width: 5rem;
    height: 5rem;
}

.presenceCard > div > div > svg path{
    fill: var(--colorPrimary);
}

.ajouterHeureButton,.ajouterHeureButtonOutlined{
    background-color: var(--colorPrimary);
    width: 1rem;    
    height: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadowDepth8);
    transition: all ease-in 0.2s;
}


.ajouterHeureButton:hover,.ajouterHeureButtonOutlined:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.ajouterHeureButtonOutlined{
    border: 3px solid var(--colorPrimary);
    background-color: white;
}

.enseignantAction{
    border-radius: 0rem;
}

.enseignantStatusDanger{
    background-color: red;
}

