.inlineContainer,.inlineContainer div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inlineContainer{
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.logoContainer {
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
}

.logoContainer img {
    height: fit-content;
    height: -webkit-fill-available;
    box-shadow: var(--shadowDepth4);
    border-radius: 1rem;
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    width: 100%;
}

.profileContainer img {
    height: fit-content;
    height: -webkit-fill-available;
    box-shadow: var(--shadowDepth4);
    border-radius: 1rem;
}